.usernameLabel{
    position: absolute;
    width: 234px;
    height: 32px;
    left: 523px;
    top: 273px;

    font-family: Sofia Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;

    color: #000000;
}

.returnArrow{
    position: absolute;
    width: 60px;
    height: 50px;
    left: 10px;
    top: 20px;

    box-sizing: border-box;
    transform: rotate(0deg);
}

.usernameInput{
    position: absolute;
    width: 503px;
    height: 96px;
    left: 388px;
    top: 322px;

    font-family: Sofia Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;

    background: #FFFFFF;
    border-radius: 20px;
}
.passwordLabel{
    position: absolute;
    width: 116px;
    height: 32px;
    left: 582px;
    top: 488px;

    font-family: Sofia Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;

    color: #000000;
}
.passwordInput{
    position: absolute;
    width: 503px;
    height: 96px;
    left: 388px;
    top: 531px;

    font-family: Sofia Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;

    background: #FFFFFF;
    border-radius: 20px;
}

.submitButton{
    font-family: Sofia Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;

    position: absolute;
    width: 200px;
    height: 80px;
    left: 540px;
    top: 670px;
    border-radius: 20px;
}